<header>
  <h1>{{pageTitle}}</h1>
  <h2>Powered by node.js</h2>
  <p>----------------------------------</p>
  <p><a href="/">Home</a>&nbsp;|&nbsp;<a href="/about">About</a>&nbsp;|&nbsp;<a href="/projects">Projects</a></p>
  <p>----------------------------------</p>
</header>
